

@media screen and (max-width: 1200px) {
    
#hero .container{
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.hero-content{
    height: 65vh;
}

.programming{
    width: 20rem;
    height: 8rem;
    right: 30rem;
    bottom: 14rem;
}

.programming h1{
    top: 2rem;
   left: 10rem;
}

.programming .one{
    margin-top: 8rem;
}


.circle{
    left: -10rem;
    top: -12rem;
}

.circle-2{
    right: -16rem;
    bottom: -83rem;
}


.circle-3{
    width: 30rem;
    height:  20rem;
    left: -17rem;
    bottom: -75rem;   
}


.circle-4{
    width: 30rem;
    height:  20rem;
    top: -7rem;
    right: -15rem;
}


.container:hover .circle{
    width: 93rem;
    height: 51rem;
    
}

.container:hover .circle-2{
    width: 93rem;
    height: 52.2rem;
   
}

.container:hover .circle-3{
    width: 85rem;
    height: 50rem;
}
.container:hover .circle-4{
    width: 85rem;
    height: 50rem;
    
}

#about .container{
    width: 100%;
    height: 70vh;
   
}


#process .container{
    width: 100%; 
    height: 70vh;
}


#process .container .box{
    width: 100%; 
    height: 70vh;
}

#process .plate-f-1{
    width: 25rem;
    height: 43vh !important;
}

#process .plate-b-1{
    width: 25rem;
    height: 43vh !important;
}

#process h3{
    margin-top: 3rem !important;
}

#process p{
    margin-top: 0rem !important;

}

#process #box-1{
    top: 11.6rem;
    left: 2.5rem;
}
#process #box-2{
    top: -39.7rem;
    left: 32rem;
}

#process #box-3{
  
    left: 62rem;
}

#process #box-4{
    left: 92rem;
}

#exp .container{
    width: 100%;
    height: 75vh;
 
}

.roll::after{
    left: 47.5rem;
}

#exp h1{
    margin: 0rem;
}

#exp .exp-grid-item h2{
    font-size: 2.5rem;   
}

#exp .exp-grid-item h4{
    margin-top: -1rem;   
}

#exp .exp-grid-item span{
   display: inline-block;
   margin-top: -5rem !important;
   padding: 0;
}

#exp .exp-grid-item p{
    margin: 0.3rem 0rem; 
    padding: 0;
 }

 #exp .exp-grid-item hr{
   margin: 2rem 0rem;
  
 }


.exp-grid{
   height: 80%; 
   margin-top: 0rem;
}

#letest-work .container{
    width: 100%;
    height: 70vh;

}

#letest-work .work-grid-item img{
    width: 260px;
    height: 185px;

}

.work-grid{ 
    row-gap: 3rem; 
}

.work-grid{
    margin-left: 3rem;
}


#testi .container{
    width: 100%;
    height: 70vh;
}

#testi .cv{
    position: absolute;
    width: 45%;
    height: 45%;
}


#testi .container:hover .one{
    width: 82%;
    height: 77%;
    transition-delay: 0s;
}

#testi .container:hover .two{
    width: 62%;
    height: 57%;
    transition-delay: 0s;
}

.d-two{
    left: 177px;
}

.d-three{
    top: 70px;
    left: 320px;
}

.d-fore{
    top: 120px;
    left: 460px;
}

.d-five{
    top: 180px;
    left: 580px;
}

.d-six{
    top: 270px;
    left: 660px
}

#contact .container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(-225deg, #720643 0%, #3b0968 52%, #094068 100%);
    color: #fff;
    padding-top: 5rem;
}

.a_box{
    width: 38%;
    height: 66.5vh;
}

form{
    width: 97%;
    height: 65vh;
    padding-top: 4rem;
}

}

@media screen and (max-width: 1024px){



.next-section{
    margin-left: 30px;
}

#about .container:hover .item-2{
    width: 65rem;
    height: 35rem;
}


#about p{
    padding-left: 2rem;
}

#about .vv{
    padding-left: 2rem;
}

#process .plate-f-1{
    width: 20rem;
    height: 37vh !important;
}

#process .plate-b-1{
    width: 20rem;
    height: 37vh  !important;
}

#process h3{
    margin-top: 1rem !important;

}

#process p{
    margin-top: 0rem !important;
    font-size: 13px;
    line-height: 1.6rem;

}


#process #box-1{
    top: 11.6rem;
    left: 2rem;
}
#process #box-2{
    top: -39.7rem;
    left: 28rem;
}

#process #box-3{
    left: 54rem !important;
}

#process #box-4{
    left: 80rem;
}

.roll::after{
    left: 39.9rem;
}


#exp .container{
    width: 100%;
    height: 75vh;
 
}

.roll::after{
    left: 40.5rem;
}
#exp  h1{
    margin-bottom: 1rem;   
}

#exp .exp-grid-item h4{
    margin-top: 1rem;   
}

#exp .exp-grid-item span{
   display: inline-block;
   margin-top: -2rem !important;
   padding: 0;
}

#letest-work .work-grid{
    column-gap: 1.6rem;
}


#letest-work .work-grid-item img{
    width: 230px;
    height: 175px;
}

.work-grid{
    margin-left: 1rem;
}


#testi .container  p{
   font-size: 13.5px;
   line-height: 1.8rem;
}


.d-one{
    top: 20px;
    left: 30px;
}

.d-two{
    top: 40px !important;
    left: 180px;
}

.d-three{
    top: 80px !important;
    left: 320px !important;
}


.d-fore{
    top: 150px !important;
    left: 450px !important;
}

.d-five{
    top: 260px !important;
    left: 540px !important;
    background-color: #fff;

}

.d-six{
   display: none; 
} 


#contact .container{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(-225deg, #720643 0%, #3b0968 52%, #094068 100%);
    color: #fff;
    padding-top: 5rem;
}

.animation{
    position: absolute;
    top: -25rem;
}

.animation-ii{
    top: -25rem;
} 

.a_box{
    width: 38%;
    height: 56.5vh;
}

form{
    width: 97%;
    height: 55vh;
    padding-top: 2.8rem;
    font-size: 1.4rem;
}




#contact .container{
    width: 100%;
    height: 77vh;
    background-image: linear-gradient(-225deg, #720643 0%, #3b0968 52%, #094068 100%);
    color: #fff;
    padding-top: 5rem;
}

.animation{
    position: absolute;
    top: -25rem;
}

.animation-ii{
    top: -25rem;
} 

.a_box{
    width: 45%;
    height: 56.5vh;
    margin-left: 29.5rem;
}

form{
    width: 97%;
    height: 55vh;
    padding-top: 2.8rem;
    font-size: 1.4rem;
}

.contact_informations{
    width: 45%;
    transition: 2s;
    margin-right: -12rem;
    margin-top: -1.1rem;
}

.contact_info_grid{
    row-gap: 1.8rem;
}

.contact_info_grid_item{
    height: 5vh;
}




#footer .container{
    width: 100%;
    height: 40vh;
    background-color: black;
    padding-top: 15rem;
    position: relative;
}

.icons{
    width: 40%;
    margin: auto;
    display: flex;
}


.icons ul li{
    width: 60px;
    height: 60px;
}

.icons ul li:nth-child(1){
    background-position: -15px -12px;
}


.icons ul li:hover:nth-child(1){
    background-position: -15px -95px;
    transform: scale(1.2);
}

.icons ul a:hover{
    text-decoration: none;
}

.icons ul #li{
    background-position: -602px -12px;
}

.icons ul #li:hover{
    background-position: -602px -95px;
}


.icons ul #li-2{
    background-position: -350px -13px;
}

.icons ul #li-2:hover{
    background-position: -350px -98px;
}

.icons ul #li-3{
    background-position: -685px -13px;
}

.icons ul #li-3:hover{
    background-position: -685px -95px;
}


#footer .descriptions h3{
    color: #fff;
    font-size: 2rem;
    margin: 2rem 27rem;
}


#footer .totop_btn{
    right: 5%;
    bottom: 11.5rem;
}


}

@media screen and (max-width: 768px){

    #hero .container{
        width: 100%;
        height: 55vh;
        overflow: hidden;
    }

    #hero .hero-title{
        margin-left: -5rem;
        margin-top: -1rem;
    }
    
    #hero .hero-title h1{
        font-size: 3rem;
    }

    #hero .hero-title span{
        font-size: 3rem;
    }

    #hero .next-section{
        margin-top: 30rem;
    }

    .hero-title h1::before {
        width: 19.9rem;
        margin-left: 5.2rem;
    }

    .hero-title h1::after {
        width: 19.9rem;
        margin-left: 5.2rem;
    }

    
.container:hover .hero-content .hero-title h1 span{
    -webkit-text-stroke-width: 2px;
}

.hero-title p{
    font-size: 9px;
    margin-top: -1.7rem;
    margin-left: -5rem;

}

.circle{
    width: 55rem;
    height: 35rem;
}

.circle-2{
    width: 70rem;
    height:  50rem;
    right: -20rem;
    bottom: -74rem;
}

.circle-3{
    right: -20rem;
    bottom: -64rem;
}
    .hero-content{
        height: 65vh;
    }
    
    .programming{
        width: 20rem;
        height: 8rem;
        right: 15rem;
        bottom: 20rem;
    }
    
    .programming h1{
        top: 2rem;
       left: 10rem;
       font-size: 2.6rem;
    }

    .programming h3{
       font-size: 2rem;
    }

    .programming h1::after{
        width: 10rem;
    }

    .container:hover .programming{
        right: 23rem;
    }
    
    .programming .one{
        margin-top: 5rem;
    } 

    .container:hover .circle{
        width: 60rem;
        height: 41rem;
    }
    
    
    .container:hover .circle-2{
        width: 77rem;
        height: 53rem;
    }
    
    .container:hover .circle-3{
        width: 59rem;
        height: 45rem;
    }
    .container:hover .circle-4{
        width: 60rem;
        height: 45rem;
        
    }
    


/*==================== ABOUT SECTION START ===============================================*/


    #about .container{
        width: 100%;
        height: 60vh;
    }

    #about .container h2{
        font-size: 2rem;
    }

    #about .container p{
        font-size: 1.2rem;
        line-height: -3rem !important;
        margin-left: -0.4rem;
    }



    #about .container:hover .uuu{
      width: 58rem;
      height: 40rem;
    }

    #about .container .item-2{
        width: 55rem;
        height: 40rem;
    }

    #about .container:hover .item-2{
        width: 45rem;
        height: 27rem;
    }

    #about .container .item-2 img{
        width:400px;
        height:350px;
       
    }
    
    #about .container .buton-box{
        margin-left: -6.2rem;
    }
    

    #about .container:hover .buton-box {
        bottom: 13rem;
    }

/*======================================= END ABOUT SECTION ====================================*/



    #process .container{
        width: 100%; 
        height: 100vh;
    }
    
    #process .container .box{
        width: 100%; 
        height: 100vh;
    }
    
    #process .plate-f-1{
        width: 22rem;
        height: 35vh !important;
    }
    
    #process .plate-b-1{
        width: 22rem;
        height: 35vh !important;
    }
    
    #process h3{
        margin-top: 3rem !important;
    }
    
    #process p{
        margin-top: 0rem !important;
    
    }
    
    #process #box-1{
        top: 11.6rem;
        left: 10rem;
    }
    #process #box-2{
        top: -40rem;
        left: 42rem;
    }
    
    #process #box-3{
        top: -72rem;
        left: 10rem !important;
        margin-bottom: 6.5rem;
    }
    
    #process #box-4{
        top: -130rem !important;
        left: 42rem !important;
    }

    #exp .container{
        width: 100%;
        height: 75vh;
     
    }
    
    .roll::after{
        left: 30rem;
    }
    
    #exp h1{
        margin: 0rem;
    }
    
    #exp .exp-grid-item h2{
        font-size: 2rem;
        padding: 0;
        margin: 0;   
    }
    
    #exp .exp-grid-item h4{
        margin-top: -0.2rem;

        font-size: 1.5rem;   
    }
    
    #exp .exp-grid-item span{
       position: absolute;

    }
    
    #exp .exp-grid-item p{
        margin-top: 3rem;

     }
    
     #exp .exp-grid-item hr{
       margin: 2rem 0rem;
      
     }
    
    
    .exp-grid{
       height: 80%; 
       margin-top: 0rem;
    }
    
    #letest-work .container{
        width: 100%;
        height: 70vh;
    
    }

    
    .work-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    
    #letest-work .work-grid-item img{
        width: 230px;
        height: 185px;
    
    }
    
    .work-grid{ 
        row-gap: 3rem; 
    }
    
    .work-grid{
        margin-left: 1rem;
    }
    
    
    #testi .container{
        width: 100%;
        height: 70vh;
        margin-top: 30rem !important;
    }

    #testi .container h4{
        bottom: 7rem;
    }
    
    #testi .container h5{
        bottom: 5rem;
    }
    
.d-one{
    top: 20px;
    left: 30px;
}

.d-two{
    top: 40px;
    left: 170px;
}

.d-three{
    top: 74px;
    left: 250px;
}


.d-fore{
    top: 130px;
    left: 335px;
}

.d-five{
    top: 200px;
    left: 400px;
}

.d-six{
    top: 320px;
    left: 470px;
}  



#contact .container{
    width: 100%;
    height: 77vh;
    background-image: linear-gradient(-225deg, #720643 0%, #3b0968 52%, #094068 100%);
    color: #fff;
    padding-top: 5rem;
}

.animation{
    position: absolute;
    top: -25rem;
}

.animation-ii{
    top: -25rem;
} 

.a_box{
    width: 45%;
    height: 56.5vh;
    margin-left: 29.5rem;
}

form{
    width: 97%;
    height: 55vh;
    padding-top: 2.8rem;
    font-size: 1.4rem;
}

.contact_informations{
    width: 45%;
    transition: 2s;
    margin-right: -12rem;
    margin-top: -2rem;
}

.contact_info_grid{
    row-gap: 1.8rem;
}

.contact_info_grid_item{
    height: 5vh;
}

#footer{
    margin-top: 0rem;
}

#footer .container{
    width: 100%;
    height: 40vh;
    background-color: black;
    padding-top: 15rem;
    position: relative;
}

.icons{
    width: 50%;
    margin: auto;
    display: flex;
}


.icons ul li{
    width: 60px;
    height: 60px;
}

.icons ul li:nth-child(1){
    background-position: -15px -12px;
}


.icons ul li:hover:nth-child(1){
    background-position: -15px -95px;
    transform: scale(1.2);
}

.icons ul a:hover{
    text-decoration: none;
}

.icons ul #li{
    background-position: -602px -12px;
}

.icons ul #li:hover{
    background-position: -602px -95px;
}


.icons ul #li-2{
    background-position: -350px -13px;
}

.icons ul #li-2:hover{
    background-position: -350px -98px;
}

.icons ul #li-3{
    background-position: -685px -13px;
}

.icons ul #li-3:hover{
    background-position: -685px -95px;
}


#footer .descriptions h3{
    color: #fff;
    font-size: 1.5rem;
    margin: 2rem 20rem;
}


#footer .totop_btn{
    right: 5%;
    bottom: 12rem;
}


    
}










@media screen and (max-width: 480px){
    #hero .container{
        width: 100%;
        height: 55vh;
        overflow: hidden;
    }

    #hero{
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }

    #hero .hero-title{
        margin-left: -8rem;
        margin-top: -3.5rem;
    }

    .hero-content ul{
        margin-top: -2rem;
        margin-right: 0rem;
    }

    .hero-content ul li a{
        font-size: 15px !important;
    }
    
    #hero .hero-title h1{
        font-size: 2rem;
    }

    #hero .hero-title span{
        font-size: 2rem;
    }

    #hero .next-section{
        margin-top: 30rem;
    }

    .hero-title h1::before {
        width: 13.2rem;
        margin-left: 5.2rem;
    }

    .hero-title h1::after {
        width: 13.2rem;
        margin-left: 5.2rem;
    }

    .hero-title p{
        font-size: 7.2px;
        margin-top: -1.7rem;
        margin-left: -8rem;
        color: #fff;
    }

    .hero-title p:hover{
        cursor: pointer;
        font-size: medium;
    }

    #hero .hide_text{
        display: none;;
    }


    ul li:hover  .a1::after{
        width: 44px;
        background-color: var(--bg_color_for);
    }
  
    ul li:hover  .a2::after{
        width: 34px;
        background-color: var(--bg_color_for);
    }
      
    ul li:hover  .a3::after{
        width: 44.6px;
        background-color: var(--bg_color_for);
    }
    
    
    ul li:hover  .a4::after{
        width: 57px;
        background-color: var(--bg_color_for);
    }



.circle{
    display: none;
}

.circle-2{
    display: none;
}

.circle-3{
    display: none;

}

.circle-4{
    display: none;

}
    .hero-content{
        height: 65vh;
    }
    
    .programming{
        width: 20rem;
        height: 8rem;
        right: 5rem;
        top: 20rem;
    }
    
    .programming h1{
       top: 2rem;
       left: 10rem;
       font-size: 1.6rem;
    }

    .programming h3{
       font-size: 1.4rem;
    }

    .programming h1::after{
        width: 6.5rem;
    }

    .container:hover .programming{
        right: 12rem;
    }
    
    .programming .one{
        margin-top: 5rem;
    } 

   
    


/*==================== ABOUT SECTION START ===============================================*/

    #about .container{
        width: 100%;
        height: 60vh;
        overflow: hidden;
    }

    #about .container h2{
        font-size: 2rem;
    }

    #about .container p{
        font-size: 1.4rem;
        line-height: -3rem !important;
        margin-left: -0.4rem;
    }



    #about .container .uuu{
      width: 100%;
      height: 60vh;
      border-radius: 0%;
      background: linear-gradient(to right, #0cbaba, #380036);
    }

    #about .container:hover .uuu{
        width: 100%;
        height: 60vh;
    }

    #about .container .item-2{
        width: 55rem;
        height: 40rem;
        background-color: transparent;
        box-shadow: none;
    }
    #about .container .item-2 img{
        width: 340px;
        height: 245px;
        margin-right: -3rem;
       
    }
    
    #about .container .buton-box{
        margin-left: -6.2rem;
    }
    

    #about .container:hover .buton-box {
        bottom: 8rem;
    }

/*======================================= END ABOUT SECTION ====================================*/



    #process .container{
        width: 100%; 
        height: 100vh;
    }
    
    #process .container .box{
        width: 100%; 
        height: 100vh;
        background: #FF0000;
        background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

    }
    #process .LED{
        display: none;
    }

    #process .plate-f-1{
        width: 20rem;
        height: 35vh !important;
    }
    
    #process .plate-b-1{
        width: 20rem;
        height: 35vh !important;
    }
    
    #process h3{
        margin-top: 3rem !important;
    }
    
    #process p{
        margin-top: 0rem !important;
    
    }
    
    #process #box-1{
        top: 10.4rem;
        left: 2rem;
    }
    #process #box-2{
        top: -40rem;
        left: 25.6rem;
    }
    
    #process #box-3{
        top: -72rem;
        left: 2rem !important;
        margin-bottom: 6.5rem;
    }
    
    #process #box-4{
        top: -128.9rem !important;
        left: 25.6rem !important;
    }

    #exp .container{
        width: 100%;
        height: 75vh;
     
    }
    .roll::after{
        display: none;
    }
    
    #exp h1{
        margin: 0rem;
    }
    
    #exp .exp-grid-item h2{
        font-size: 2rem;
        padding-bottom: 1rem;  
    }
    
    #exp .exp-grid-item h4{
        margin-top: -0.2rem;
        font-size: 1.5rem;   
    }
    
    #exp .exp-grid-item span{
       top: 11rem;

    }

    #exp .exp-grid-item .span{
        top: 32rem; 
    }
    
    #exp .exp-grid-item p{
        margin-top: 4rem;

     }

    .exp-grid{
       height: 80%; 
       margin-top: 0rem;
       display: grid;
       grid-template-columns: 1fr;
    }

    .exp-grid .hide{
        display: none;
    }
    
    #letest-work .container{
        width: 100%;
        height: 70vh;
    
    }

    .work-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    
    #letest-work .work-grid-item img{
        width: 220px;
        height: 185px;
    
    }
    
    .work-grid{ 
        row-gap: 3rem; 
        column-gap: 0.5rem !important;
    }
    
    .work-grid{
        margin-left: 1rem;
    }
  
    #testi{
    margin-top: 50rem !important;  
    }
    
    #testi .container{
        width: 100%;
        height: 70vh;
        margin-top: 30rem !important;
        background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
        
    }

    
    #testi .container .cv{
        display: none;
        
    }

    #testi .container p{
        width: 90%;
        height: 90%;
        line-height: 2.5rem;
        color: #fff;

    }

    
#testi .container p{
    transition-delay: 0s;
    color: #fff;
    padding-left: 2rem;
    padding-top: 3rem;
}

#testi .container h1{
    color: #fff;
    padding-top: 3rem;
}

#testi .container h4{
    bottom: 3rem;
    color: #fff;
}

#testi .container h5{
    bottom: 1rem;
    color: #fff;
}


#contact .container{
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(-225deg, #720643 0%, #3b0968 52%, #094068 100%);
    color: #fff;
    padding-top: 6rem;
}

.animation{
    position: absolute;
    top: -25rem;
}

.animation-ii{
    top: -25rem;
} 

.a_box{
    width: 90%;
    height: 52.5vh;
    margin-left: 29.5rem;
    bottom: 3rem;
}

form{
    width: 97%;
    height: 51vh;
    padding-top: 2.5rem;
    font-size: 1.3rem;
}

.contact_informations{
    top: 2rem;
    width: 90%;
    left: 2.5rem;
}

.contact_info_grid{
    display: grid;
    grid-template-rows: repeat(3, 1fr );
    row-gap: 2rem;
}

.contact_info_grid_item{
    width: 100%;
    height: 15vh;
    background-color: #001538;
    color: #fff;
    padding-left: 2rem;
    padding-bottom: 1rem !important;

}

.contact_info_grid_item h3{
    color: #fff;
    font-size: 1.6rem;
    margin-top: -1rem;
}

.contact_info_grid_item p{
    color: #fff;
    font-size: 1.5rem;
    margin-top: -1rem;
}




#footer{
    margin-top: 12rem;
}

#footer .container{
    width: 100%;
    height: 60vh;
    background-color: black;
    padding-top: 15rem;
    position: relative;
}

.icons{
    width: 70%;
    margin: auto;
    display: flex;
    margin: auto;
}


.icons ul li{
    width: 60px;
    height: 60px;
}

.icons ul li:nth-child(1){
    background-position: -15px -12px;
}


.icons ul li:hover:nth-child(1){
    background-position: -15px -95px;
    transform: scale(1.2);
}

.icons ul a:hover{
    text-decoration: none;
}

.icons ul #li{
    background-position: -602px -12px;
}

.icons ul #li:hover{
    background-position: -602px -95px;
}


.icons ul #li-2{
    background-position: -350px -13px;
}

.icons ul #li-2:hover{
    background-position: -350px -98px;
}

.icons ul #li-3{
    background-position: -685px -13px;
}

.icons ul #li-3:hover{
    background-position: -685px -95px;
}


#footer .descriptions h3{
    color: #fff;
    font-size: 1.5rem;
    margin: 2rem 8rem;
}


#footer .totop_btn{
    right: 45%;
    bottom: 8rem;
}



}